.box {
	display: flex;
	width: 40px;
	height: 40px;
	border: 1px solid black;
}

.font {
    font-size: 30px;
    margin: auto;
}

.font0 {
	color: blue;
}

.font1 {
	color: red;
}

.row {
	display: flex;
}